<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css">
    <style>
      html, body {
        min-width: 100%;
        min-height: 100%;
      }

      body {
        font-family: 'Tangerine', cursive;
        font-size: 32px;
        margin: 0;
        padding: 0;
        background-image: -webkit-linear-gradient(top, #9FEAFC, #7CE0F7);
        background-image:    -moz-linear-gradient(top, #9FEAFC, #7CE0F7);
        background-image:         linear-gradient(top, #9FEAFC, #7CE0F7);
      }

      .card {
        max-width: 600px;
        margin: auto;
        padding: 30px;
        padding-top: 80px;
      }

      img {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-top: 50px;
      }

      h1 {
        font-weight: normal;
        text-align: center;
      }

      p {
        text-align: right;
        margin: 10px 0;
      }

      .to {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <section class="card">
      <p class="to">{{to}}</p>
      <h1>
        {{message1}}
        <br>
        {{message2}}
      </h1>
      <img src="{{img}}" alt="Johnny McGrew">
      <p>{{from}}</p>
    </section>
  </body>
</html>
